server/.env
skbackend/skbackend/__pycache__
skbackend/api/__pycache__
skbackend/skbackend/__pycache__
skbackend/skbackend/__pycache__
skbackend/api/migrations/__pycache__
skfrontend/node_modules
skbackend/db.sqlite3
skbackend/.envrc
skbackend/api/migrations
skbackend/api/migrations
skbackend/profile_pics
